.vw-75{
  min-width: 75vw!important;
}

.fs-32{
  font-size: 2rem;
  font-weight: 500;
}

.section-wrapper{
  max-height: 48vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mb--26{
  margin-bottom: -26px!important;
}