<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
    </section>
    <section class="section ">
        <div class="d-flex justify-content-center container-lg">
            <div class="card card-profile shadow mt--300">
                <div class="px-4 manual-min-height">

                    <div class="text-center mt-5">
                        <h3 class="fs-32 color-bl mb--26">BUSINESS PERFORMANCE PROFILING</h3>
                    </div>

                    <div class="mt-5 py-3 border-top text-center">

                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel [expanded]="true" >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        FINANCE
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="section-wrapper">
                                    <app-financial [dealReport]="dealReport" (value)="setFinancialReportData($event)"></app-financial>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        INNOVATION
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="section-wrapper">
                                    <app-innovation></app-innovation>
                                </div>
                            </mat-expansion-panel>
<!--                            <mat-expansion-panel>-->
<!--                                <mat-expansion-panel-header>-->
<!--                                    <mat-panel-title>-->
<!--                                        MARKETING-->
<!--                                    </mat-panel-title>-->
<!--                                </mat-expansion-panel-header>-->
<!--                                <div class="section-wrapper">-->
<!--                                    <app-marketing></app-marketing>-->
<!--                                </div>-->
<!--                            </mat-expansion-panel>-->
                        </mat-accordion>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end align-items-center">
                                <button (click)="submitReport()" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
