<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->

    <!-- SVG separator -->

  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">

          <div class="text-left m-5">
            <h3>About
            </h3>
<!--            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Page description here...</div>-->
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div *ngIf="aboutDetails" class="col-lg-9 text-justify" [innerHTML]="aboutDetails"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
