<form [formGroup]="innovationGroup" class="w-100">
    <div class="w-100 my-4 py-2">
        <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
            <h2 class="w-100 text-left">Stage of Innovation</h2>
        </div>
    </div>

    <div class="questions my-3 py-4">
        <div *ngFor="let stage of stages" class="question">
            <div style="width: 100px!important;">
                <input [id]="stage.name" [value]=stage.name class="form-control"
                       formControlName="stageOfInnovation"
                       name="stage" style="max-width: 20px;box-shadow: none!important;" type="radio"></div>
            <label [for]="stage.name" class=" question-radio">{{stage.name}}
                <p class="w-100">{{stage.info}}</p>
            </label>
        </div>
    </div>

    <div class="w-100 my-4 py-2">
        <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
            <h2 class="w-100 text-left">Technology Readiness Level&nbsp;</h2>
        </div>
    </div>

    <div class="questions my-3 py-4">
        <div *ngFor="let level of techLevels" class="question">
            <div style="width: 100px!important;">
                <input [id]="level.name" [value]="level.level" class="form-control"
                       formControlName="technologyReadiness"
                       name="stage" style="max-width: 20px;box-shadow: none!important;" type="radio"></div>
            <label [for]="level.name" class=" question-radio">{{level.level}}
                <p class="w-100">{{level.desc}}</p>
            </label>
        </div>
    </div>

    <div class="w-100 my-4 py-2">
        <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
            <h2 class="w-100 text-left">Commercial Exploitation</h2>
        </div>
    </div>

    <form [formGroup]="innovationGroup.get('areaOfImpact')" class="w-100">
        <div *ngFor="let quest of commercialExplorationQuestions; index as i" class="reverse-question">
            <div class="q">
                <div class="question-title">
                    <span>{{quest}}</span>
                </div>
                <div class="question-choise">
                    <div class="option">
                        <input class="form-control" formControlName="question{{i+1}}"
                               name="stage{{i}}" style="max-width: 20px;box-shadow: none!important;"
                               type="radio"
                               value="0">
                    </div>

                    <div class="option">
                        <input class="form-control" formControlName="question{{i+1}}"
                               name="stage{{i}}" style="max-width: 20px;box-shadow: none!important;"
                               type="radio"
                               value="1">
                    </div>

                    <div class="option">
                        <input class="form-control" formControlName="question{{i+1}}"
                               name="stage{{i}}" style="max-width: 20px;box-shadow: none!important;"
                               type="radio"
                               value="2">
                    </div>
                </div>
            </div>
        </div>

        <div class="reverse-question">
            <div class="q">
                <div class="question-title">
                    <span>Where is your company's innovation culture on the ‘Innovation Curve?’</span>
                </div>
                <div class="question-choise">
                    <div class="c-option">
                        <select formControlName="question9">
                            <option value="Innovators">Innovators</option>
                            <option value="Early adapters">Early adapters</option>
                            <option value="Early majority">Early majority</option>
                            <option value="Late majority">Late majority</option>
                            <option value="Laggards">Laggards</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="w-100 my-4 py-2">
        <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
            <h2 class="w-100 text-left">Innovation & IP&nbsp;</h2>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-12 col-md-4 d-flex justify-content-md-start justify-content-sm-center align-items-center">
            <span>What assets do you generate ? </span>
        </div>
        <div class="col-sm-12 col-md-8 d-flex justify-content-md-start justify-content-sm-center align-items-center my-1">
            <form [formGroup]="innovationGroup.get('innovationAndIP').get('assetsGenerated')" class="w-100 d-flex">

                <div *ngFor="let answer of ipAssets.assetsGenerated.controls; let j = index;"
                     class="custom-control custom-checkbox mb-3 mx-3">
                    <input checked="" class="custom-control-input" formControlName="{{j}}" id="cust{{j}}"
                           type="checkbox">
                    <label class="custom-control-label" for="cust{{j}}}">{{answer.display}}</label>
                </div>
            </form>

        </div>
    </div>

    <div class="row ">
        <div class="col-sm-12 col-md-4 d-flex justify-content-md-start justify-content-sm-center align-items-center">
            <span>Have you registered any of the following?</span>
        </div>
        <div class="col-sm-12 col-md-8 d-flex justify-content-md-start justify-content-sm-center align-items-center my-1">
            <form [formGroup]="innovationGroup.get('innovationAndIP').get('assetsOwned')" class="w-100 d-flex">

                <div *ngFor="let answer of ipAssets.assetsOwned.controls; let j = index;"
                     class="custom-control custom-checkbox mb-3 mx-3">
                    <input checked="" class="custom-control-input" formControlName="{{j}}" id="cu{{j}}"
                           type="checkbox">
                    <label class="custom-control-label" for="cu{{j}}">{{answer.display}}</label>
                </div>
            </form>

        </div>
    </div>

    <div class="w-100 my-4 py-2">
        <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
            <h2 class="w-100 text-left">Design</h2>
        </div>
    </div>


    <form [formGroup]="innovationGroup.get('design')">
        <div *ngFor="let design of designs" class="row">
            <div class="col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-sm-center align-items-center">
                {{design.name}}
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-sm-center align-items-center my-1">
                <select [formControlName]="design.control">
                    <option [value]="null">I don't have any</option>
                    <option *ngFor="let answer of designTypes" [value]="answer">{{answer}}</option>
                </select>
            </div>
        </div>
    </form>


    <div class="section-title w-100 d-flex justify-content-start align-items-center my-4 py-2">
        <h2>Additional notes</h2>
    </div>

    <textarea class="form-control" formControlName="notes" id="exampleFormControlTextarea1" placeholder="Any other founder notes or comments to be written here"
              rows="3"></textarea>

</form>