<form [formGroup]="innovationGroup" class="w-100">

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start w-100 flex-wrap">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Stage of Innovation</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <div class="question-answer d-flex w-100 flex-wrap mb-3">
                <div *ngFor="let stage of stages" class="d-flex justify-content-start align-items-start mb-3">
                    <div class="input-feild d-flex" style="padding-top: 13px;">
                        <div class="custom-control pl-0 mb-3 w-auto">
                            <input [id]="stage.name" [value]="stage.name" class="custom-control-input"
                                   formControlName="stageOfInnovation" type="radio">
                            <label [for]="stage.name" class="custom-control-label"></label>
                        </div>
                    </div>
                    <div class="input-label d-flex flex-wrap">
                        <span class="w-100 mb-2 pt-1">{{stage.name}}</span>
                        <span class="w-100 fw-normal">{{stage.info}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Technology Readiness Level</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <!--        ACCOUNTING METHOD-->
            <div class="question-answer w-100 mb-3">
                <div class="d-flex">
                    <div class="w-23">
                        <label class="input-label"> Select TRL level :</label>
                    </div>
                    <div class="w-77">
                        <div class="input-feild">
                            <select class="form-select" formArrayName="technologyReadiness"
                                    formControlName="technologyReadiness">
                                <option [ngValue]="null" disabled selected>Select your account type</option>
                                <option *ngFor="let techLevel of techLevels"
                                        value="{{techLevel.level}}">{{techLevel.desc}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Commercial Exploitation</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <!--        ACCOUNTING METHOD-->
            <div class="commercial-bloc d-flex flex-wrap">
                <form *ngFor="let quest of commercialExplorationQuestions; index as i"
                      [formGroup]="innovationGroup.get('areaOfImpact')"
                      class="question-answer d-flex mb-3 commercial-form">
                    <div class="d-flex justify-content-between align-items-center w-100 commercial-form-child">
                        <div class="input-label">
                            {{quest}} :
                        </div>
                        <div class="input-feild">
                            <select class="form-select" formControlName="question{{i+1}}">
                                <option [ngValue]="null" disabled selected>Please select</option>
                                <option>Yes</option>
                                <option>No</option>
                                <option>Not sure</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Innovation & IP</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="innovationGroup.get('innovationAndIP')" class="question-answer d-flex w-50 mb-3">
                <div class="d-flex justify-content-start align-items-center flex-wrap">
                    <div class="input-label w-100">
                        What assets do you generate?
                    </div>
                    <div class="input-feild w-100">
                        <div *ngFor="let answer of innovationGroup.get('innovationAndIP').get('assetsGenerated').controls; let x = index;"
                             class="custom-control custom-checkbox mb-3 mx-3">
                            <form [formGroup]="innovationGroup.get('innovationAndIP').get('assetsGenerated').controls[x]">
                                <input class="custom-control-input" formControlName="value" id="cu{{x}}"
                                       type="checkbox">
                                <label class="custom-control-label" for="cu{{x}}">{{answer.value.name}}</label>
                            </form>
                        </div>
                    </div>
                </div>
            </form>

            <form [formGroup]="innovationGroup.get('innovationAndIP')" class="question-answer d-flex w-50 mb-3">
                <div class="d-flex justify-content-start align-items-center flex-wrap">
                    <div class="input-label w-100">
                        Have you registered any of the following?
                    </div>
                    <div class="input-feild w-100">
                        <div *ngFor="let answer of innovationGroup.get('innovationAndIP').get('assetsOwned').controls; let j = index;"
                             class="custom-control custom-checkbox mb-3 mx-3">
                            <form [formGroup]="innovationGroup.get('innovationAndIP').get('assetsOwned').controls[j]">
                                <input class="custom-control-input" formControlName="value" id="fu{{j}}"
                                       type="checkbox">
                                <label class="custom-control-label" for="fu{{j}}">{{answer.value.name}}</label>
                            </form>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Design</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="innovationGroup.get('design')" class="question-answer d-flex w-100 mb-3">
                <div class="d-flex justify-content-start align-items-center flex-wrap w-100">
                    <div class="input-label w-100">
                        A question is required for design in here?
                    </div>
                    <div class="input-feild d-flex justify-content-between align-content-center py-3 w-100">
                        <div *ngFor="let design of designs; let j = index;"
                             class="custom-control custom-checkbox mb-3 w-auto">
                            <input [formControlName]="design.control" [value]="design" checked=""
                                   class="custom-control-input" id="design{{j}}"
                                   type="checkbox">
                            <label class="custom-control-label" for="design{{j}}">{{design.name}}</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Additional Notes</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="innovationGroup" class="question-answer d-flex w-100 mb-3">
                <div class="d-flex justify-content-start align-items-center flex-wrap w-100">
                    <div class="input-label w-100">
                        Any other additional notes or comments to be written here
                    </div>
                    <div class="input-feild d-flex justify-content-between align-content-center py-3 w-100">
                          <textarea class="form-control" formControlName="notes" id="exampleFormControlTextarea1"
                                    placeholder="Any other founder notes or comments to be written here"
                                    rows="3"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

</form>
