
input[type="radio"]
{
  appearance: none;
}

input[type="radio"] + label
{
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
}

input[type="radio"] + label::before
{
  content: "";
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid #415a77;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}

input[type="radio"] + label::after
{
  content: "";
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid #415a77;
  background: #415a77;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

input[type="radio"]:checked + label::after
{
  opacity: 1;
}

.input-feild{
  &.w-100{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 12px 25px;

    .custom-control{
      text-align: left;
      width: 25%;
    }
  }
}

.circle label{
  &:before{
    border-radius: 100% !important;
  }
  &:after{
    border-radius: 100% !important;
  }
}
@media screen and (min-width: 991px) {
    .commercial-form {
      width: 50%;
      &:nth-child(odd){
        .commercial-form-child{
          padding-right: 0.8rem;
        }
        }
      &:nth-child(even){
        .commercial-form-child{
          padding-left: 0.8rem;
        }
      }
    }
  }

