<div class="w-100 my-4 py-2">
    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
        <h2 class="w-100 text-left">Stage of Innovation</h2>
    </div>
</div>

<div class="questions my-3 py-4">
    <div *ngFor="let stage of stages" class="question">
        <div style="width: 100px!important;">
            <input style="max-width: 20px;box-shadow: none!important;" name="stage" class="form-control"
                   [id]="stage.name" type="radio"></div>
        <label class=" question-radio" [for]="stage.name">{{stage.name}}
            <p class="w-100">{{stage.info}}</p>
        </label>
    </div>
</div>

<div class="w-100 my-4 py-2">
    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
        <h2 class="w-100 text-left">Technology Readiness Level&nbsp;</h2>
    </div>
</div>

<div class="questions my-3 py-4">
    <div *ngFor="let level of techLevels" class="question">
        <div style="width: 100px!important;">
            <input style="max-width: 20px;box-shadow: none!important;" name="stage" class="form-control"
                   [id]="level.name" type="radio"></div>
        <label class=" question-radio" [for]="level.name">{{level.level}}
            <p class="w-100">{{level.desc}}</p>
        </label>
    </div>
</div>

<div class="w-100 my-4 py-2">
    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
        <h2 class="w-100 text-left">Commercial Exploitation</h2>
    </div>
</div>

<div *ngFor="let quest of commercialExplorationQuestions; index as i" class="reverse-question">
    <div class="q">
        <div class="question-title">
            <span>{{quest}}</span>
        </div>
        <div class="question-choise">
            <div class="option">
                <input style="max-width: 20px;box-shadow: none!important;" name="stage{{i}}" class="form-control"
                       type="radio">
            </div>

            <div class="option">
                <input style="max-width: 20px;box-shadow: none!important;" name="stage{{i}}" class="form-control"
                       type="radio">
            </div>

            <div class="option">
                <input style="max-width: 20px;box-shadow: none!important;" name="stage{{i}}" class="form-control"
                       type="radio">
            </div>
        </div>
    </div>
</div>

<div class="reverse-question">
    <div class="q">
        <div class="question-title">
            <span>Where is your company's innovation culture on the ‘Innovation Curve?’</span>
        </div>
        <div class="question-choise">
            <div class="c-option">
                <select>
                    <option value="Innovators">Innovators</option>
                    <option value="Early adapters">Early adapters</option>
                    <option value="Early majority">Early majority</option>
                    <option value="Late majority">Late majority</option>
                    <option value="Laggards">Laggards</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="w-100 my-4 py-2">
    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
        <h2 class="w-100 text-left">Innovation & IP&nbsp;</h2>
    </div>
</div>

<div class="row ">
    <div class="col-sm-12 col-md-4 d-flex justify-content-md-start justify-content-sm-center align-items-center">
        <span>What assets do you generate ? </span>
    </div>
    <div class="col-sm-12 col-md-8 d-flex justify-content-md-start justify-content-sm-center align-items-center my-1">
        <div *ngFor="let answer of ipAssets.assetsGenerated.controls; let j = index;" class="custom-control custom-checkbox mb-3 mx-3">
            <input class="custom-control-input" id="cust{{j}}" type="checkbox"
                   checked="">
            <label class="custom-control-label" for="cust{{j}}}">{{answer.display}}</label>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-sm-12 col-md-4 d-flex justify-content-md-start justify-content-sm-center align-items-center">
        <span>Have you registered any of the following?</span>
    </div>
    <div class="col-sm-12 col-md-8 d-flex justify-content-md-start justify-content-sm-center align-items-center my-1">
        <div *ngFor="let answer of ipAssets.assetsOwned.controls; let j = index;" class="custom-control custom-checkbox mb-3 mx-3">
            <input class="custom-control-input" id="cu{{j}}" type="checkbox"
                   checked="">
            <label class="custom-control-label" for="cu{{j}}">{{answer.display}}</label>
        </div>
    </div>
</div>

<div class="w-100 my-4 py-2">
    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">
        <h2 class="w-100 text-left">Design</h2>
    </div>
</div>

<div *ngFor="let design of designs" class="row">
    <div class="col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-sm-center align-items-center">
        {{design.name}}
    </div>
    <div class="col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-sm-center align-items-center my-1">
        <select>
            <option [value]="null">I don't have any</option>
            <option [value]="answer" *ngFor="let answer of designTypes">{{answer}}</option>
        </select>
    </div>
</div>

<div class="section-title w-100 d-flex justify-content-start align-items-center my-4 py-2">
    <h2>Additional notes</h2>
</div>

<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
          placeholder="Any other founder notes or comments to be written here"></textarea>
