<div class="w-100">

    <div class="w-100">
               <!--        REVENUE RETENTION-->
        <div class="w-100">
            <div class="question d-flex p-3 flex-wrap justify-content-start">
                <div class="question-title d-flex justify-content-start align-items-center">
                    <div class="help-wrapper cursor-pointer">
                        <i class="fa fa-info-circle mr-2"></i>
                    </div>
                    <span>Revenue Retention</span>
                </div>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            New Revenue (ratio) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="New Revenue" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Retained Revenue (ratio) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Retained Revenue" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        END REVENUE RETENTION-->

        <!--        FINANCIAL PERFORMANCE-->
        <div class="w-100">
            <div class="question d-flex p-3 flex-wrap justify-content-start">
                <div class="question-title d-flex justify-content-start align-items-center">
                    <div class="help-wrapper cursor-pointer">
                        <i class="fa fa-info-circle mr-2"></i>
                    </div>
                    <span>Financial Performance</span>
                </div>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Gross Profit :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Cash & Cash Equivalent" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Net Profit :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Monthly Burn Rate" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Gross Profit Margin (Ratio) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Net Burn Rate" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Net Profit Margin (Ratio) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Net Cash" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Cost of Goods Sold (Ratio) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Runway" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Monthly Recurring Revenue :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Runway" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Total Debt :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Runway" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Turnover to Staff (Ratio) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Runway" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Promotion to Sales :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Runway" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Compound Annual Growth Rate (Revenues) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Runway" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Gross Margin Growth :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Runway" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-50 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            New Revenue per Marketing Spend :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="New Revenue per Marketing Spend"
                                           type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        END FINANCIAL PERFORMANCE-->

        <!--        BUSINESS PERFORMANCE-->
        <div class="w-100">
            <div class="question d-flex p-3 flex-wrap justify-content-start">
                <div class="question-title d-flex justify-content-start align-items-center">
                    <div class="help-wrapper cursor-pointer">
                        <i class="fa fa-info-circle mr-2"></i>
                    </div>
                    <span>Business Performance</span>
                </div>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Annual Recurring Revenue :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Annual Recurring Revenue" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Year-on-Year Revenue Growth Rate :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Year-on-Year Revenue Growth Rate"
                                           type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        END BUSINESS PERFORMANCE-->

        <!--        MARKET GROWTH-->
        <div class="w-100">
            <div class="question d-flex p-3 flex-wrap justify-content-start">
                <div class="question-title d-flex justify-content-start align-items-center">
                    <div class="help-wrapper cursor-pointer">
                        <i class="fa fa-info-circle mr-2"></i>
                    </div>
                    <span>Market Growth</span>
                </div>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Market Growth (SOM) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Market Growth (SOM)" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Compound Annual Growth Rate (of Industry/Market) :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Compound Annual Growth Rate"
                                           type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        END MARKET GROWTH-->

        <!--        MARKET SIZE-->
        <div class="w-100">
            <div class="question d-flex p-3 flex-wrap justify-content-start">
                <div class="question-title d-flex justify-content-start align-items-center">
                    <div class="help-wrapper cursor-pointer">
                        <i class="fa fa-info-circle mr-2"></i>
                    </div>
                    <span>Market Size</span>
                </div>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Market Size :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Market Size" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        END MARKET SIZE-->

        <!--        CASH & OPERATION-->
        <div class="w-100">
            <div class="question d-flex p-3 flex-wrap justify-content-start">
                <div class="question-title d-flex justify-content-start align-items-center">
                    <div class="help-wrapper cursor-pointer">
                        <i class="fa fa-info-circle mr-2"></i>
                    </div>
                    <span>Cash & Operation</span>
                </div>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Cash & Cash Equivalent :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Cash & Cash Equivalent" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Monthly Burn Rate :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Monthly Burn Rate" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Net Burn Rate :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Net Burn Rate" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Net Cash :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Net Cash" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Runway :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Runway" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Net Revenue Retention :
                        </div>
                        <div class="input-feild">
                            <div class="form-group mb-0">
                                <div class="position-relative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
                                    </div>
                                    <input class="form-control " placeholder="Net Revenue Retention" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        END CASH & OPERATION-->

        <!--        COMPANY REPORTING-->
        <div class="w-100">
            <div class="question d-flex p-3 flex-wrap justify-content-start">
                <div class="question-title d-flex justify-content-start align-items-center">
                    <div class="help-wrapper cursor-pointer">
                        <i class="fa fa-info-circle mr-2"></i>
                    </div>
                    <span>Company Reporting</span>
                </div>
                <!--        ACCOUNTING METHOD-->
                <form [formGroup]="financialGroup" class="question-answer d-flex w-100 mb-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            Accounting method :
                        </div>
                        <div class="input-feild">
                            <select class="form-select" formControlName="accountingMethod">
                                <option disabled selected value="">Select your account type</option>
                                <option value="Accrual">Accrual</option>
                                <option value="Cash">Cash</option>
                                <option value="D'ont know">D'ont know</option>
                            </select>
                        </div>
                    </div>
                </form>
                <!--        END ACCOUNTING METHOD-->

                <!--        COMPANY SHARES-->
                <div class="question-answer d-flex w-100 flex-wrap mb-3">
                    <div class="w-100 d-flex justify-content-start align-items-center">
                        <div class="input-label">
                            <span class="mr-4">Company shares</span>
                            Have you set aside
                            shares for employees?
                        </div>
                        <div class="input-feild">
                            <form [formGroup]="financialGroup" class="w-100">
                                <select class="form-select" formControlName="employeeShares">
                                    <option disabled selected value="">Please select</option>
                                    <option value=true>Yes</option>
                                    <option value=false>No</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="financialGroup.get('employeeShares').value"
                         class="w-100 d-flex justify-content-start align-items-center flex-wrap">
                        <div *ngFor="let shareHolder of financialGroup.get('shareholders').controls; index as i "
                             class="w-100 d-flex justify-content-start align-items-center flex-wrap">
                            <div class="input-label w-20">
                                <p *ngIf="i == 0" class="level-3">[Current Shareholders]</p>
                            </div>
                            <div class="w-80 my-3">
                                <form [formGroup]="financialGroup.get('shareholders').controls[i]"
                                      class="d-flex justify-content-start align-items-center flex-wrap ">
                                    <div class="input-item">
                                        <input class="form-control" formControlName="name" placeholder="Name">
                                    </div>
                                    <div class="input-item">
                                        <input class="form-control" formControlName="stake" placeholder="Stake"
                                               type="number">
                                    </div>
                                    <div class="input-item">
                                        <input class="form-control" formControlName="shares" placeholder="Shares">
                                    </div>
                                    <div class="input-item">
                                        <select class="form-select" formControlName="shareClass" placeholder="test"
                                                required>
                                            <option disabled selected value="">Share class</option>
                                            <option value="Ordinary">Ordinary</option>
                                            <option value="Prefrence">Prefrence</option>
                                        </select>
                                    </div>
                                    <div class="input-item">
                                        <select class="form-select" formControlName="voting" required>
                                            <option disabled selected value="">Voting</option>
                                            <option value="Voting">Voting</option>
                                            <option value="Non Voting">Non Voting</option>
                                        </select>
                                    </div>
                                    <div class="input-item">
                                        <select class="form-select" formControlName="antiDilution" required>
                                            <option disabled selected value="">Anti dilution</option>
                                            <option value=true>Yes</option>
                                            <option value=false>No</option>
                                        </select>
                                    </div>
                                    <div class="input-item">
                                        <input class="form-control" formControlName="allocationDate" type="date">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="w-100 d-flex justify-content-end">
                            <button (click)="addShareHolder()" class="btn btn-primary">
                                Add shareholder
                            </button>
                        </div>
                    </div>
                </div>
                <!--        END COMPANY SHARES-->

                <!--        PREVIOUS FINANCE INJECTION-->
                <div class="question-answer d-flex w-100 flex-wrap mb-3">
                    <div class="w-100 d-flex justify-content-start align-items-center flex-wrap">
                        <div class="input-label">
                            Previous Finance Injection
                        </div>
                        <div *ngFor="let shareHolder of financialGroup.get('previousCash').controls; index as i "
                             class="w-100 d-flex justify-content-start align-items-center flex-wrap">
                            <div class="input-label w-20">
                                <p *ngIf="i == 0" class="level-3">[Previous Injection]</p>
                            </div>
                            <div class="w-80 my-3">
                                <form [formGroup]="financialGroup.get('previousCash').controls[i]"
                                      class="d-flex justify-content-start align-items-center flex-wrap ">
                                    <div class="input-item">
                                        <select class="form-select" formControlName="type" required>
                                            <option disabled selected value="">Injection type</option>
                                            <option value="Equity investment">Equity investment</option>
                                            <option value="Crowdfunding">Crowdfunding</option>
                                            <option value="Grant">Grant</option>
                                            <option value="Loan">Loan</option>
                                            <option value="Convertible Loan">Convertible Loan</option>
                                        </select>
                                    </div>
                                    <div *ngIf="financialGroup.get('previousCash').controls[i].get('type')?.value == 'Convertible Loan'"
                                         class="input-item">
                                        <input class="form-control" formControlName="cap" placeholder="Cap"
                                               type="number">
                                    </div>
                                    <div *ngIf="financialGroup.get('previousCash').controls[i].get('type')?.value == 'Convertible Loan'"
                                         class="input-item">
                                        <input class="form-control" formControlName="discount" placeholder="Discount">
                                    </div>
                                    <div class="input-item">
                                        <input class="form-control" formControlName="source"
                                               placeholder="Fund or Source">
                                    </div>
                                    <div class="input-item">
                                        <input class="form-control" formControlName="date" placeholder="Date"
                                               type="date">
                                    </div>
                                    <div class="input-item">
                                        <input class="form-control" formControlName="amount" placeholder="Amount"
                                               type="number">
                                    </div>
                                    <div class="input-item">
                                        <input class="form-control" formControlName="equityGiven"
                                               placeholder="Equity given" type="number">
                                    </div>
                                    <div class="input-item">
                                        <select class="form-select" formControlName="charges">
                                            <option disabled selected value="">Charges</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                            <option value="Not sure">Not sure</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="w-100 d-flex justify-content-end">
                            <button (click)="createPreviousCash()" class="btn btn-primary">
                                Add more
                            </button>
                        </div>
                    </div>
                </div>
                <!--        END PREVIOUS FINANCE INJECTION-->
            </div>
        </div>
        <!--        END COMPANY REPORTING-->

    </div>
</div>


<!--        <div class="w-100">-->
<!--            <div class="question d-flex flex-wrap justify-content-center">-->
<!--                <mat-chip-list aria-label="Accounting method" class="my-2">-->
<!--                    <mat-chip>-->
<!--                        <mat-icon aria-hidden="false" class="mx-1">price_check</mat-icon>-->
<!--                        <strong>Previous Finance Injection</strong></mat-chip>-->
<!--                </mat-chip-list>-->
<!--                <div *ngFor="let previousC of financialGroup.get('previousCash').controls; index as j "-->
<!--                     class="question-answer d-flex w-100 justify-content-center">-->
<!--                    <form [formGroup]="financialGroup.get('previousCash').controls[j]"-->
<!--                          class="row w-100 my-3">-->

<!--                        <div class="col-md-3 col-sm-12">-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                <mat-select [formControlName]="'type'" required>-->
<!--                                    <mat-option value="Equity investment">Equity investment</mat-option>-->
<!--                                    <mat-option value="Crowdfunding">Crowdfunding</mat-option>-->
<!--                                    <mat-option value="Grant">Grant</mat-option>-->
<!--                                    <mat-option value="Loan">Loan</mat-option>-->
<!--                                    <mat-option value="Convertible Loan">Convertible Loan</mat-option>-->
<!--                                </mat-select>-->
<!--                                &lt;!&ndash;                                            <mat-label>Voting</mat-label>&ndash;&gt;-->
<!--                            </mat-form-field>-->
<!--                        </div>-->
<!--                        <div-->
<!--                             class="col-md-3 col-sm-12">-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                &lt;!&ndash;                                            <mat-label>Cap</mat-label>&ndash;&gt;-->
<!--                                <input formControlName="cap" matInput placeholder="Cap" type="number">-->
<!--                                <mat-icon matSuffix>£</mat-icon>-->
<!--                                <mat-hint>Hint</mat-hint>-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div *ngIf="financialGroup.get('previousCash').controls[j].get('type')?.value == 'Convertible Loan'"-->
<!--                             class="col-md-3 col-sm-12">-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                &lt;!&ndash;                                            <mat-label>Discount</mat-label>&ndash;&gt;-->
<!--                                <input formControlName="discount" matInput placeholder="Discount"-->
<!--                                       type="number">-->
<!--                                <mat-icon matSuffix>%</mat-icon>-->
<!--                                <mat-hint>Hint</mat-hint>-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div class="col-md-3 col-sm-12">-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                &lt;!&ndash;                                            <mat-label>Fund or Source</mat-label>&ndash;&gt;-->
<!--                                <input formControlName="source" matInput placeholder="Fund or Source">-->
<!--                                <mat-icon matSuffix>monetization_on</mat-icon>-->
<!--                                <mat-hint>Hint</mat-hint>-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div class="col-md-3 col-sm-12">-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                &lt;!&ndash;                                            <mat-label>Date</mat-label>&ndash;&gt;-->
<!--                                <input [matDatepicker]="picker" formControlName="date" matInput>-->
<!--                                <mat-hint>HINT</mat-hint>-->
<!--                                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>-->
<!--                                <mat-datepicker #picker></mat-datepicker>-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div class="col-md-3 col-sm-12">-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                &lt;!&ndash;                                            <mat-label>Amount</mat-label>&ndash;&gt;-->
<!--                                <input formControlName="amount" matInput placeholder="Amount" type="number">-->
<!--                                <mat-icon matSuffix>monetization_on</mat-icon>-->
<!--                                <mat-hint>Hint</mat-hint>-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div class="col-md-3 col-sm-12">-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                &lt;!&ndash;                                            <mat-label>Equity given</mat-label>&ndash;&gt;-->
<!--                                <input formControlName="equityGiven" matInput placeholder="Equity given"-->
<!--                                       type="number">-->
<!--                                <mat-icon matSuffix>%</mat-icon>-->
<!--                                <mat-hint>Hint</mat-hint>-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div class="col-md-3 col-sm-12">-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                <mat-select [formControlName]="'charges'" required>-->
<!--                                    <mat-option value="Equity investment">Yes</mat-option>-->
<!--                                    <mat-option value="Crowdfunding">No</mat-option>-->
<!--                                    <mat-option value="Grant">Not sure</mat-option>-->
<!--                                </mat-select>-->
<!--                                &lt;!&ndash;                                            <mat-label>Charges</mat-label>&ndash;&gt;-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                    </form>-->
<!--                </div>-->
<!--                <div class="col-12 d-flex justify-content-center">-->
<!--                    <button (click)="createPreviousCash()" color="primary" mat-raised-button mat-ripple>Add-->
<!--                        more-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <mat-stepper #stepper orientation="vertical">-->
<!--            <mat-step>-->
<!--                <div class="w-100 p-4">-->
<!--                    <div *ngIf="financialGroup.get('employeeShares').value" class="w-100">-->
<!--                        <div class="question d-flex flex-wrap justify-content-center">-->
<!--                            <mat-chip-list aria-label="Accounting method" class="my-2">-->
<!--                                <mat-chip>-->
<!--                                    <mat-icon aria-hidden="false" class="mx-1">account_tree</mat-icon>-->
<!--                                    <strong>Current Shareholders</strong></mat-chip>-->
<!--                            </mat-chip-list>-->
<!--                            <div *ngFor="let shareHolder of financialGroup.get('shareholders').controls; index as i "-->
<!--                                 class="question-answer d-flex w-100 justify-content-center">-->
<!--                                <form [formGroup]="financialGroup.get('shareholders').controls[i]"-->
<!--                                      class="row w-100 my-3">-->
<!--                                    <div class="col-md-3 col-sm-12">-->
<!--                                        <mat-form-field appearance="outline" class="w-100">-->
<!--&lt;!&ndash;                                            <mat-label>Name</mat-label>&ndash;&gt;-->
<!--                                            <input formControlName="name" matInput placeholder="Name">-->
<!--                                            <mat-hint>Hint</mat-hint>-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-3 col-sm-12">-->
<!--                                        <mat-form-field appearance="outline" class="w-100">-->
<!--&lt;!&ndash;                                            <mat-label>Stake</mat-label>&ndash;&gt;-->
<!--                                            <mat-icon matSuffix>monetization_on</mat-icon>-->
<!--                                            <mat-hint>Hint</mat-hint>-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-3 col-sm-12">-->
<!--                                        <mat-form-field appearance="outline" class="w-100">-->
<!--&lt;!&ndash;                                            <mat-label>Shares</mat-label>&ndash;&gt;-->
<!--                                            <mat-icon matSuffix>donut_small</mat-icon>-->
<!--                                            <mat-hint>Hint</mat-hint>-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-3 col-sm-12">-->
<!--                                        <mat-form-field appearance="outline" class="w-100">-->

<!--&lt;!&ndash;                                            <mat-label>Select share type</mat-label>&ndash;&gt;-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->

<!--                                    <div class="col-md-3 col-sm-12">-->
<!--                                        <mat-form-field appearance="outline" class="w-100">-->
<!--                                            <mat-select [formControlName]="'voting'" required>-->
<!--                                                <mat-option value="0">Voting</mat-option>-->
<!--                                                <mat-option value="1">Non Voting</mat-option>-->
<!--                                            </mat-select>-->
<!--&lt;!&ndash;                                            <mat-label>Voting</mat-label>&ndash;&gt;-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->

<!--                                    <div class="col-md-3 col-sm-12">-->
<!--                                        <mat-form-field appearance="outline" class="w-100">-->
<!--                                            <mat-select [formControlName]="'antiDilution'" required>-->
<!--                                                <mat-option value="0">Yes</mat-option>-->
<!--                                                <mat-option value="1">No</mat-option>-->
<!--                                            </mat-select>-->
<!--&lt;!&ndash;                                            <mat-label>Anti Dilution</mat-label>&ndash;&gt;-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->

<!--                                    <div class="col-md-3 col-sm-12">-->
<!--                                        <mat-form-field appearance="outline" class="w-100">-->
<!--&lt;!&ndash;                                            <mat-label>Allocation date</mat-label>&ndash;&gt;-->
<!--                                            <input [matDatepicker]="picker" formControlName="allocationDate" matInput>-->
<!--                                            <mat-hint>HINT</mat-hint>-->
<!--                                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>-->
<!--                                            <mat-datepicker #picker></mat-datepicker>-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->

<!--                                </form>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-12 d-flex justify-content-end">-->
<!--                        <button mat-raised-button matStepperNext>Next</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </mat-step>-->
<!--            <mat-step>-->
<!--                <div class="w-100 p-4">-->

<!--                    &lt;!&ndash;                    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <h2 class="w-100 text-left"></h2>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <span>Specify here any cash that has come into the business.</span>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 d-flex justify-content-start">-->
<!--                            <button mat-raised-button matStepperPrevious>Previous</button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-12 d-flex justify-content-end">-->
<!--                        <button mat-raised-button matStepperNext>Next</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </mat-step>-->
<!--            <mat-step>-->
<!--                <mat-form-field appearance="outline" class="example-full-width w-100">-->
<!--&lt;!&ndash;                    <mat-label>Notes</mat-label>&ndash;&gt;-->
<!--                    <textarea class="w-100" formControlName="notes" matInput-->
<!--                              placeholder="Any other founder notes or comments to be written here"></textarea>-->
<!--                </mat-form-field>-->
<!--                <div class="row">-->
<!--                    <div class="col-12 d-flex justify-content-end">-->
<!--                        <button mat-raised-button matStepperNext>next</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </mat-step>-->
<!--        </mat-stepper>-->