<div class="w-100">
<!--    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3">-->
<!--        <h2>Financials</h2>-->
<!--    </div>-->

    <div class="w-100">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs ">
            <mat-tab label="Accounting method">
                <div class="question d-flex py-3 flex-wrap justify-content-center">
                    <mat-chip-list aria-label="Accounting method" class="my-2">
                        <mat-chip><mat-icon class="mx-1" aria-hidden="false" >wallet</mat-icon><strong>What is your accounting type ?</strong></mat-chip>
                    </mat-chip-list>
                    <form [formGroup]="financialGroup" class="question-answer d-flex w-100">
                        <mat-form-field appearance="fill" class="w-100" >
                            <mat-select [formControlName]="'accountingMethod'" required>
                                <mat-option value="Accrual">Accrual</mat-option>
                                <mat-option value="Cash">Cash</mat-option>
                                <mat-option value="D'ont know">D'ont know</mat-option>
                            </mat-select>
                            <mat-label>Select your accounting method</mat-label>
                        </mat-form-field>
                    </form>
                </div>
            </mat-tab>
            <mat-tab label="Company shares">
                <div class="w-100 p-4">
<!--                    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">-->
<!--                        <h2 class="w-100 text-left"></h2>-->
<!--                        <span>Who have you given or allocated company shares to?</span>-->
<!--                    </div>-->

                    <div class="w-100 d-flex">
                        <div class="custom-control custom-checkbox mb-3">
                            <form [formGroup]="financialGroup">
                                <input formControlName="employeeShares" class="custom-control-input" id="hasShares"  type="checkbox" >
                                <label class="custom-control-label" for="hasShares">Have you set aside shares
                                    for employees?</label>
                            </form>
                        </div>
                    </div>

                    <div class="question">
                        <div class="question-title">
                            <span>Current Shareholders</span>
                        </div>
                        <div style="grid-column: span 8;">
                            <div *ngFor="let shareHolder of financialGroup.get('shareholders').controls; index as i " class="share-holder">
                                <form [formGroup]="financialGroup.get('shareholders').controls[i]" style="display: grid;grid-template-columns: repeat(4 , 1fr);">
                                    <div class="form-group  px-2">
                                        <input type="text" class="form-control" formControlName="name"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group  px-2">
                                        <div class="input-group">
                                            <input type="number" class="form-control"
                                                   placeholder="Stake"
                                                   aria-label="Stake"
                                                   formControlName="stake"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" >%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group px-2">
                                        <input type="number" formControlName="shares" class="form-control"
                                               placeholder="Shares">
                                    </div>
                                    <div class="form-group px-2">
                                        <select formControlName="shareClass" class="form-control">
                                            <option value="0">Ordinary</option>
                                            <option value="1">Prefrence</option>
                                        </select>
                                    </div>
                                    <div class="form-group  px-2">
                                        <select formControlName="voting" class="form-control">
                                            <option value="0">Voting</option>
                                            <option value="1">Non Voting</option>
                                        </select>
                                    </div>
                                    <div class="form-group  px-2">
                                        <select formControlName="antiDilution" class="form-control">
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                    <div class="form-group px-2">
                                        <input formControlName="allocationDate" type="date" class="form-control"
                                               placeholder="date">
                                    </div>
                                </form>
                            </div>
                            <div class="w-100">
                                <button  class="btn btn-primary" (click)="addShareHolder()">Add shareholder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Previous Cash">
                <div class="w-100 p-4">
<!--                    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3 flex-wrap">-->
<!--                        <h2 class="w-100 text-left"></h2>-->
<!--                        <span>Specify here any cash that has come into the business.</span>-->
<!--                    </div>-->

                    <div class="question ">
                        <div class="question-title text-left">
                            <span>Previous Finance Injection</span>
                        </div>
                        <div style="grid-column: span 8;">
                            <div *ngFor="let previousC of financialGroup.get('previousCash').controls; index as j " class="share-holder">
                                <form [formGroup]="financialGroup.get('previousCash').controls[j]"  style="display: grid;grid-template-columns: repeat(4 , 1fr);">
                                    <div class="form-group px-2">
                                        <select formControlName="type" class="form-control">
                                            <option value="Equity investment">Equity investment</option>
                                            <option value="Crowdfunding">Crowdfunding</option>
                                            <option value="Grant">Grant</option>
                                            <option value="Loan">Loan</option>
                                            <option value="Convertible Loan">Convertible Loan</option>
                                        </select>
                                    </div>
                                    <div *ngIf="financialGroup.get('previousCash').controls[j].get('type')?.value == 'Convertible Loan'" class="form-group px-2">
                                        <div class="input-group">
                                            <input formControlName="cap" type="number" class="form-control"
                                                   placeholder="Cap"
                                                   aria-label="Cap"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" >£</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="financialGroup.get('previousCash').controls[j].get('type')?.value == 'Convertible Loan'" class="form-group px-2">
                                        <div class="input-group">
                                            <input type="number" class="form-control"
                                                   placeholder="Discount"
                                                   aria-label="Discount"
                                                   formControlName="discount"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" >%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group px-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Fund or Source"
                                                   aria-label="Fund or Source"
                                                   formControlName="source"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" >%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group px-2">
                                        <input formControlName="date" type="date" class="form-control"
                                               placeholder="date">
                                    </div>
                                    <div class="form-group px-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Amount"
                                                   aria-label="Amount"
                                                   formControlName="amount"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" >£</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group px-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Equity given"
                                                   aria-label="Equity given"
                                                   formControlName="equityGiven"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" >%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group px-2">
                                        <select formControlName="charges" class="form-control">
                                            <option value="Equity investment">Yes</option>
                                            <option value="Crowdfunding">No</option>
                                            <option value="Grant">Not sure</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="w-100">
                                <button class="btn btn-primary" (click)="createPreviousCash()">Add more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Additional notes">
<!--                <div class="section-title w-100 d-flex justify-content-start align-items-center my-3">-->
<!--                    <h2></h2>-->
<!--                </div>-->

                <form [formGroup]="financialGroup" class="w-100 p-4">
        <textarea formControlName="notes" class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Any other founder notes or comments to be written here"></textarea>
                </form>

            </mat-tab>
        </mat-tab-group>
    </div>
<!--    <div class="financial-row w-100">-->
<!--        <div class="metric-title"><span>Sales/turnover</span></div>-->
<!--        <div class="metric-values">-->
<!--            <div class="row">-->
<!--                <form [formGroup]="financialGroup.get('financial').get('sales')" class="d-flex flex-wrap">-->
<!--                    <div *ngFor="let year of financialYears; index as i" class="form-group mx-2">-->
<!--                        <div class="input-group">-->
<!--                            <input type="number" class="form-control"-->
<!--                                   placeholder="Sales/turnover"-->
<!--                                   aria-label="Sales/turnover"-->
<!--                                   aria-describedby="basic-addon2"-->
<!--                                   formControlName="year{{i+1}}"-->
<!--                                    >-->
<!--                            <div class="input-group-append">-->
<!--                                <span class="input-group-text" >£</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="add-value">-->
<!--            <ul class="nav nav-pills nav-pills-circle"  role="tablist">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link rounded-circle active"  data-toggle="tab"-->
<!--                        role="tab" aria-controls="home" aria-selected="true">-->
<!--                        <span class="nav-link-icon d-block"><i class="fa fa-plus"></i></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="financial-row w-100 ">-->
<!--        <div class="metric-title"><span>Gross Profit</span></div>-->
<!--        <div class="metric-values">-->
<!--            <div class="row">-->
<!--                <form [formGroup]="financialGroup.get('financial').get('grossProfit')" class="d-flex flex-wrap">-->
<!--                    <div *ngFor="let year of financialYears ; index as i " class="form-group mx-2">-->
<!--                        <div class="input-group">-->
<!--                            <input type="number" class="form-control"-->
<!--                                   placeholder="Sales/turnover"-->
<!--                                   aria-label="Sales/turnover"-->
<!--                                   formControlName="year{{i+1}}"-->
<!--                                   aria-describedby="basic-addon2">-->
<!--                            <div class="input-group-append">-->
<!--                                <span class="input-group-text">£</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="add-value">-->
<!--            <ul class="nav nav-pills nav-pills-circle"  role="tablist">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link rounded-circle active"  data-toggle="tab"-->
<!--                        role="tab" aria-controls="home" aria-selected="true">-->
<!--                        <span class="nav-link-icon d-block"><i class="fa fa-plus"></i></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="financial-row w-100 ">-->
<!--        <div class="metric-title"><span>Net Profit</span></div>-->
<!--        <div class="metric-values">-->
<!--            <div class="row">-->
<!--                <form [formGroup]="financialGroup.get('financial').get('netProfit')" class="d-flex flex-wrap">-->
<!--                    <div *ngFor="let year of financialYears ; index as i " class="form-group mx-2">-->
<!--                        <div class="input-group">-->
<!--                            <input type="number" class="form-control"-->
<!--                                   placeholder="Sales/turnover"-->
<!--                                   aria-label="Sales/turnover"-->
<!--                                   formControlName="year{{i+1}}"-->
<!--                                   aria-describedby="basic-addon2">-->
<!--                            <div class="input-group-append">-->
<!--                                <span class="input-group-text" >£</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="add-value">-->
<!--            <ul class="nav nav-pills nav-pills-circle" id="tabs_2" role="tablist">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link rounded-circle active" id="home-tab" data-toggle="tab"-->
<!--                      role="tab" aria-controls="home" aria-selected="true">-->
<!--                        <span class="nav-link-icon d-block"><i class="fa fa-plus"></i></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
</div>

<!--<div class="w-100">-->
<!--    <div class="section-title w-100 d-flex justify-content-start align-items-center my-3">-->
<!--        <h2>Runway</h2>-->
<!--    </div>-->
<!--    <form [formGroup]="financialGroup.get('runway')" class="">-->
<!--        <div class="question">-->
<!--            <div class="question-title">-->
<!--                <span>Break-even point</span>-->
<!--            </div>-->
<!--            <form [formGroup]="financialGroup.get('runway').get('breakEven')" class="question-answer">-->
<!--                <div class="input-group">-->
<!--                    <input type="number" class="form-control"-->
<!--                           placeholder="Months"-->
<!--                           aria-label="Months"-->
<!--                           formControlName="months"-->
<!--                           aria-describedby="basic-addon2">-->
<!--                    <div class="input-group-append">-->
<!--                        <span class="input-group-text" >£</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="input-group">-->
<!--                    <select formControlName="from" class="form-control">-->
<!--                        <option value=""  selected>Months from ...</option>-->
<!--                        <option value="now">months from now</option>-->
<!--                        <option value="investment">months from investment</option>-->
<!--                    </select>-->
<!--&lt;!&ndash;                    <input type="text" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                           placeholder="Months from"&ndash;&gt;-->
<!--&lt;!&ndash;                           aria-label="Months from"&ndash;&gt;-->
<!--&lt;!&ndash;                           aria-describedby="basic-addon2">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="input-group-text" >£</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="question ">-->
<!--            <div class="question-title">-->
<!--                <span>Burn-rate [Now]</span>-->
<!--            </div>-->
<!--            <div class="question-answer">-->
<!--                <div class="input-group">-->
<!--                    <input type="number" class="form-control"-->
<!--                           placeholder="Burn rate now currency"-->
<!--                           aria-label="Burn rate now currency"-->
<!--                           formControlName="burnRateNow"-->
<!--                           aria-describedby="basic-addon2">-->
<!--                    <div class="input-group-append">-->
<!--                        <span class="input-group-text" >£</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="question ">-->
<!--            <div class="question-title">-->
<!--                <span>Burn-rate [After next investment]</span>-->
<!--            </div>-->
<!--            <div class="question-answer">-->
<!--                <div class="input-group">-->
<!--                    <input type="number" class="form-control"-->
<!--                           placeholder="Burn rate after currency"-->
<!--                           aria-label="Burn rate after currency"-->
<!--                           formControlName="burnRateAfter"-->
<!--                           aria-describedby="basic-addon2">-->
<!--                    <div class="input-group-append">-->
<!--                        <span class="input-group-text" >£</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->