.report-wrapper{
  .report-header{
    margin: 100px 0 50px;
    .company-details{
      .company-name{
        font-size: 42px;
        line-height: 52px;
      }
    }

    .date-and-extras{
      .detail{
        font-size: 18px;
        font-weight: 600!important;
      }
    }

  }
  .company-details-data{
    .detail{
      font-size: 20px;
      font-weight: 600!important;
    }
  }
  h1 {
    font-size: 2.2rem;
    font-weight: 900;
  }
  h2 {
    text-align: center;
    font-size: 2rem !important;
    padding: 20px 0;
    border-image-source: linear-gradient(90deg, hsla(0, 0%, 100%, .5) 0, #a1a1a1 50%, hsla(0, 0%, 100%, .5));
    border-image-slice: 20;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}
