<div class="w-100">
    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Product</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>

            <div class="col-sm-12 d-flex justify-content-start align-items-center my-3">
                <span class="fs-18">What is the key nature of your USP (Unique Selling Proposition)?</span>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="marketingGroup.get('product')"  *ngFor="let product of products[0].kinds; index as i" class="question-answer d-flex w-50 my-3">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="input-feild">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="input-feild d-flex align-items-center   ">
                                <div
                                        class="custom-control custom-checkbox circle mx-3 w-auto">
                                    <input checked="" class="custom-control-input"  [id]="product.title" type="checkbox">
                                    <label class="custom-control-label" [for]="product.title"></label>
                                </div>
                            </div>
                            <div class="input-label d-flex flex-wrap">
                                <span class="w-100 fw-normal">{{product.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-sm-12 d-flex justify-content-start align-items-center my-3">
                <span class="fs-18">Customer interactions (Select the appropriate choices) </span>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="marketingGroup.get('product')"  *ngFor="let product of products[1].kinds; index as i" class="question-answer d-flex w-50 my-3">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="input-feild">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="input-feild d-flex align-items-center   ">
                                <div
                                        class="custom-control custom-checkbox  mx-3 w-auto">
                                    <input checked="" class="custom-control-input"  [id]="product.title" type="checkbox">
                                    <label class="custom-control-label" [for]="product.title"></label>
                                </div>
                            </div>
                            <div class="input-label d-flex flex-wrap">
                                <span class="w-100 fw-normal">{{product.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-sm-12 d-flex justify-content-start align-items-center my-3">
                <span class="fs-18">How do you sell (Select the appropriate choices) </span>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="marketingGroup.get('product')"  *ngFor="let product of products[2].kinds; index as i" class="question-answer d-flex w-25 my-3">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="input-feild">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="input-feild d-flex align-items-center   ">
                                <div
                                        class="custom-control custom-checkbox circle mx-3 w-auto">
                                    <input checked="" class="custom-control-input"  [id]="product.title" type="checkbox">
                                    <label class="custom-control-label" [for]="product.title"></label>
                                </div>
                            </div>
                            <div class="input-label d-flex flex-wrap">
                                <span class="w-100 fw-normal">{{product.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-sm-12 d-flex justify-content-start align-items-center my-3">
                <span class="fs-18">Customer interactions (Select the appropriate choices)</span>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="marketingGroup.get('product')"  *ngFor="let product of products[3].kinds; index as i" class="question-answer d-flex w-25 my-3">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="input-feild">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="input-feild d-flex align-items-center   ">
                                <div
                                        class="custom-control custom-checkbox  mx-3 w-auto">
                                    <input checked="" class="custom-control-input"  [id]="product.title" type="checkbox">
                                    <label class="custom-control-label" [for]="product.title"></label>
                                </div>
                            </div>
                            <div class="input-label d-flex flex-wrap">
                                <span class="w-100 fw-normal">{{product.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <div class="col-sm-12 d-flex justify-content-start align-items-center my-3">
                <span class="fs-18">How would you best describe the Business Model?</span>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="marketingGroup.get('product')"  *ngFor="let product of products[4].kinds; index as i" class="question-answer d-flex w-25 my-3">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="input-feild">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="input-feild d-flex align-items-center   ">
                                <div
                                        class="custom-control custom-checkbox circle mx-3 w-auto">
                                    <input checked="" class="custom-control-input"  [id]="product.title" type="checkbox">
                                    <label class="custom-control-label" [for]="product.title"></label>
                                </div>
                            </div>
                            <div class="input-label d-flex flex-wrap">
                                <span class="w-100 fw-normal">{{product.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start w-100">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Marketing preference</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="marketingGroup.get('performance').controls[i]"  *ngFor="let pref of marketingGroup.get('performance').controls; index as i" class="question-answer d-flex w-100 mb-3">
                <div class="d-flex justify-content-start align-items-center w-100">
                    <div class="input-label w-50">
                        <select class="w-100 form-control" formControlName="question">
                            <option selected value="0">Unique Users/Viewers (p/m)</option>
                            <option value="1">Registrations / Sign-Ups (p/m)</option>
                            <option value="2">Downloads (p/m)</option>
                            <option value="3">Daily Active Users (DAU)</option>
                            <option value="4">Monthly Active Users (MAU)</option>
                            <option value="5">Unit GPM / NPM</option>
                            <option value="6">Conversion Rate</option>
                            <option value="7">Churn Rate</option>
                            <option value="8">Retention Rate</option>
                            <option value="9">Engagement Rate</option>
                            <option value="10">Return Rate</option>
                            <option value="11">New Users (p/m)</option>
                            <option value="12">Cost Per Acquisition (CPA) or …</option>
                            <option value="13">Customer Acquisition Cost (CAC)</option>
                            <option value="14">Life Time Value (LTV)</option>
                            <option value="15">Average Revenue Per User (ARPU)</option>
                        </select>
                    </div>
                    <div class="input-feild w-50">
                        <input class="w-100 form-control" formControlName="answer" placeholder="Answer" type="text">
                    </div>
                </div>
            </form>
            <div class=" w-100 d-flex justify-content-end align-items-center">
                <button (click)="addMoreMarketingPrefrence()" class="btn btn-primary my-3">Add More</button>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start w-100">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Social media accounts</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="marketingGroup.get('socialMedia').controls[i]"  *ngFor="let pref of marketingGroup.get('socialMedia').controls ; index as i" class="question-answer d-flex w-100 mb-3">
                <div class="d-flex justify-content-start align-items-center w-100">
                    <div class="input-label w-50">
                        <select class="w-100 form-control" formControlName="account" placeholder="Platform">
                            <option value="0">Facebook</option>
                            <option value="1">Twitter</option>
                            <option value="2">Instagram</option>
                            <option value="3">linkedIn</option>
                            <option value="4">WhatsApp</option>
                            <option value="5">Pinterest</option>
                            <option value="6">Other</option>
                        </select>
                    </div>
                    <div class="input-feild w-50">
                        <input class="w-100 form-control" formControlName="id" placeholder="User id" type="text">
                    </div>
                </div>
            </form>
            <div class=" w-100 d-flex justify-content-end align-items-center">
                <button (click)="addSocialPrefrence()" class="btn btn-primary my-3">Add More</button>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="question d-flex p-3 flex-wrap justify-content-start w-100">
            <div class="question-title d-flex justify-content-start align-items-center">
                <span>Customer & markets</span>
                <div class="help-wrapper cursor-pointer">
                    <i class="fa fa-info-circle ml-2"></i>
                </div>
            </div>
            <!--        ACCOUNTING METHOD-->
            <form [formGroup]="marketingGroup.get('customerDetails')"  *ngFor="let market of markets; index as i" class="question-answer d-flex w-100 mb-3">
                <div class="d-flex justify-content-start align-items-center w-100">
                    <div class="input-label w-50">
                        <span class="w-100 text-left">
                        {{market.title}}
                    </span>
                    </div>
                    <div class="input-feild w-50">
                        <div class="form-group mb-0">
                            <div class="position-relative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-solid fa-dollar"></i></span>
                                </div>
                                <input class="form-control " placeholder="Runway" type="number">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form [formGroup]="marketingGroup.get('customerDetails')" class="question-answer d-flex w-100 mb-3">
                <div class="d-flex justify-content-start align-items-center w-100">
                    <div class="input-label w-50">
                        <span class="w-100 text-left">
                         Where are your primary customer's on the ‘Innovation Curve?’&nbsp;
                    </span>
                    </div>
                    <div class="input-feild w-50">
                        <select class="w-100 form-control" formControlName="primaryCustomer">
                            <option value="0">Innovators</option>
                            <option value="1">Early adaptors</option>
                            <option value="2">Early majority</option>
                            <option value="3">Late majority</option>
                            <option value="4">Laggards</option>
                        </select>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="w-100">
    <div class="question d-flex p-3 flex-wrap justify-content-start">
        <div class="question-title d-flex justify-content-start align-items-center">
            <span>Additional Notes</span>
            <div class="help-wrapper cursor-pointer">
                <i class="fa fa-info-circle ml-2"></i>
            </div>
        </div>
        <!--        ACCOUNTING METHOD-->
        <form [formGroup]="marketingGroup" class="question-answer d-flex w-100 mb-3">
            <div class="d-flex justify-content-start align-items-center flex-wrap w-100">
                <div class="input-label w-100">
                    Any other additional notes or comments to be written here
                </div>
                <div class="input-feild d-flex justify-content-between align-content-center py-3 w-100">
                          <textarea class="form-control" formControlName="notes" id="exampleFormControlTextarea1" placeholder="Any other founder notes or comments to be written here"
                                    rows="3"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
