.report-line {
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  .metric{
    .metric-title{
      padding: 20px 15px;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      color: #415a77;
    }
    .divider{
      border-bottom: 4px solid #415a77;
      width:120px;
      display: block;
      line-height:1.6em;
    }
    .chart{

    }
  }
}