/* You can add global styles to this file, and also import other style files */
b{
    font-weight: bolder;
    width: 100%;
    display: flex;
    margin: 10px 0;
}
h2, h3, h4, h5, h6{
    line-height: 0!important;
}